<%= render 'layouts/header' %> 
<div class="container">
		<div class="row">
			<div class="page-header">
			  <h2>Step 5 of 8: Finding a craft beer you like</h2>
			</div>
		</div>
		<%= form_for @written, url: step6_path  do |f| %>
		<div class="row">
			<div class="col-sm-1"></div>
			<div class="col-sm-5">
				<div class="row">
					<camera id='jithree' class="show" data-app-id='a-ea644890-87df-0132-10ec-22000a8c0328' data-sources='record,upload' data-maxlength='300' style='width:480px;height:270px;' data-poll-for-processed='true'></camera>
					<%= f.text_area :written_input, id: "textInputArea5", :class => "form-control textInputArea hidden", placeholder: "Type input here" %>
				</div>
				<div class="row">
					<div class="col-sm-7">
						<h6 class="emailContact">Questions? Email me: ctiv@hotmail.com</h6>
					</div>
					<div class="col-sm-5 altInput">
						<h6 id="noWebcam" class="noWebcam five"><span>Provide written response instead.</span></h6>
					</div>
				</div>
			</div>
			<div class="col-sm-5">
				<div class="row textArea">
					<h5 class="specialFontSize">Please use the webcam to share your thoughts on the following questions:</h5>
					<ul>
						<li class="specialFontSize">When you buy/order craft beer, how often do you end up with something you like?</li>
						<li class="specialFontSize">Do you do anything to help make sure you are happy with your beer choice?</li>
						<li class="specialFontSize">If so, what? If not, why not?</li>
					</ul>
				</div>
				<div class="row buttonArea">
					<%= f.hidden_field :step, value: 5 %>
					<%= f.submit id: "step5Button", value: "Take me to Step 6", class: "btn btn-success inputButton2", disabled: "true" %>
				</div>	
			</div>
			<div class="col-sm-1"></div>
		</div>
		<% end %>
</div>
<%= render 'layouts/footer' %>