<%= render 'layouts/header' %> 
<div class="container">
		<div class="row">
			<div class="page-header">
			  <h2>Step 8 of 8: Thank you!</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-0 col-sm-0 col-md-1"></div>
			<div class="col-xs-12 col-sm-6 col-md-5">
				<h4>We appreciate your time and input!</h4></br>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-5"></div>
			<div class="col-xs-0 col-sm-0 col-md-1"></div>
		</div>
		<div class="row bottomRow">
			<div class="col-xs-0 col-sm-0 col-md-1"></div>
			<div class="col-xs-12 col-sm-6 col-md-5">
				<h4>Could you help us get the word out and share this with friends you think would be interested?</h4>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-5">
				<%= form_for @new, url: new_user_invitation_path, method: :get  do |f| %>
					<%= f.hidden_field :invited_for_exploration_id, value: @sessions_info %>
					<%= f.submit id: "inviteButtonThanks", value: "Invite others", class: "btn btn-success inputButton" %>
				<% end %>
			</div>
			<div class="col-xs-0 col-sm-0 col-md-1"></div>
		</div>
</div>
<%= render 'layouts/footer' %>