<div class="intro-header"></div>
<div id="section wrap">
	<%= render 'layouts/header' %> 
	<div class="container mainBody">
		<div class="row">
			<div class="page-header">
			  <h2>Step 2 of 8: Your initial thoughts</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-1"></div>
			<div class="col-sm-5">
				<camera id='jione' data-app-id='a-c4599770-83f9-0132-1095-22000a8c0328' data-sources='record,upload' data-maxlength='300' style='width:480px;height:270px;' data-poll-for-processed='true'></camera>
			</div>
			<div class="col-sm-5">
				<div class="row textArea">
					<h5 class="specialFontSize">Here's what we're claiming:</h5>
					<% @problems.each do |d| %>
					<ul>
						<li class="specialFontSize"><%= d.problem_one %></li>
						<li class="specialFontSize"><%= d.problem_two %></li>
						<li class="specialFontSize"><%= d.problem_three %></li>
					</ul>
					<% end %>
					<h5 class="specialFontSize">Does any of this resonate with you? Please use the webcam on the left to share your thoughts.</h5>
				</div>
				<div class="row buttonArea">
					<form method="post" action="/surveys/craft-beer-input" accept-charset="UTF-8">
						<input type="submit" id="step2Button" disabled="true" value="Take me to Step 3" name="commit" default="default" class="btn btn-success inputButton2">
						<input type="hidden" name="exploration_users_id" value=<%= @sessions_info %> >
					</form>
				</div>	
			</div>
			<div class="col-sm-1"></div>
		</div>
	</div>
</div>