<div class="intro-header"></div>
<div id="section wrap">
	<%= render 'layouts/header' %> 
	<div class="container mainBody">
		<div class="row">
			<div class="page-header">
			  <h2>Step 2 of 8: Your initial thoughts</h2>
			</div>
		</div>
		<form method="post" action="/surveys/craft-beer-input" accept-charset="UTF-8">
		<div class="row">
			<div class="col-sm-1"></div>
			<div class="col-sm-5">
				<div class="row inputArea">
					<camera class="show" id='jione' data-app-id='a-ea644890-87df-0132-10ec-22000a8c0328' data-sources='record,upload' data-maxlength='300' style='width:480px;height:270px;' data-poll-for-processed='true'></camera>
					<input type="text" name="textInputArea" id="textInputArea2" class="textInputArea hidden" placeholder="Type input here">
				</div>
				<div class="row">
					<h6 class="emailContact">Questions? Email me: ctiv@hotmail.com</h6>
				</div>
			</div>
			<div class="col-sm-5">
				<div class="row textArea">
					<h5 class="specialFontSize">Here's what we think:</h5>
					<% @problems.each do |d| %>
					<ul>
						<li class="specialFontSize"><%= d.problem_one %></li>
						<li class="specialFontSize"><%= d.problem_two %></li>
						<li class="specialFontSize"><%= d.problem_three %></li>
					</ul>
					<% end %>
					<h5 class="specialFontSize">Does any of this resonate with you? Please use the webcam to share your thoughts. <span id="noWebcam" class="noWebcam two">(<span>Wait! I don't have a webcam...</span>)</span></h5>
				</div>
				<div class="row buttonArea">
					<input type="submit" id="step2Button" disabled="true" value="Take me to Step 3" name="commit" default="default" class="btn btn-success inputButton2">
					<input type="hidden" name="exploration_users_id" value=<%= @sessions_info %> >
					<input type="hidden" name="step" value=2 >
				</div>	
			</div>
			<div class="col-sm-1"></div>
		</div>
		</form>
	</div>
</div>