<div class="intro-header"></div>
<div id="section wrap">
	<%= render 'layouts/header' %> 
	<div class="container mainBody">
		<div class="row">
			<div class="page-header">
			  <h2>Step 6 of 8: Spending time with friends</h2>
			</div>
		</div>
		<%= form_for @written, url: step7_path  do |f| %>
		<div class="row">
			<div class="col-sm-1"></div>
			<div class="col-sm-5">
				<div class="row">
					<camera id='jifour' data-app-id='a-ea644890-87df-0132-10ec-22000a8c0328' data-sources='record,upload' data-maxlength='300' style='width:480px;height:270px;' data-poll-for-processed='true'></camera>
					<%= f.text_area :written_input, id: "textInputArea6", :class => "form-control textInputArea hidden", placeholder: "Type input here" %>
				</div>
				<div class="row">
					<div class="col-sm-7">
						<h6 class="emailContact">Questions? Email me: ctiv@hotmail.com</h6>
					</div>
					<div class="col-sm-5 altInput">
						<h6 id="noWebcam" class="noWebcam six"><span>Provide written response instead.</span></h6>
					</div>
				</div>
			</div>
			<div class="col-sm-5">
				<div class="row textArea">
					<h5 class="specialFontSize">Please use the webcam to share your thoughts on the following questions:</h5>
					<ul>
						<li class="specialFontSize">When going out with friends for beer, do you ever find you spend too much time focused on beer in hopes of finding a good one?</li>
						<li class="specialFontSize">Do you have any friends who get too absored in the beer choosing process?</li>
						<li class="specialFontSize">If so--either for you or your friends, how do you deal with that?</li>
					</ul>
				</div>
				<div class="row buttonArea">
					<%= f.hidden_field :step, value: 6 %>
					<%= f.submit id: "step6Button", value: "Take me to Step 7", class: "btn btn-success inputButton2", disabled: "true" %>
				</div>	
			</div>
			<div class="col-sm-1"></div>
		</div>
		<% end %>
	</div>
</div>
<%= render 'layouts/footer' %>