<div class="intro-header"></div>
<div id="section wrap">
	<%= render 'layouts/header' %> 
	<div class="container mainBody">
		<div class="row">
			<div class="page-header">
			  <h2>Step 6 of 8: Spending time with friends</h2>
			</div>
		</div>
		<%= form_for @written, url: step7_path  do |f| %>
		<div class="row">
			<div class="col-sm-1"></div>
			<div class="col-sm-5">
				<div class="row">
					<camera id='jifour' data-app-id='a-ea644890-87df-0132-10ec-22000a8c0328' data-sources='record,upload' data-maxlength='300' style='width:480px;height:270px;' data-poll-for-processed='true'></camera>
					<%= f.text_area :written_input, required: true, id: "textInputArea6", :class => "form-control textInputArea hidden", placeholder: "Type input here" %>
				</div>
				<div class="row">
					<h6 class="emailContact">Questions? Email me: ctiv@hotmail.com</h6>
				</div>
			</div>
			<div class="col-sm-5">
				<div class="row textArea">
					<h5 class="specialFontSize">Do you ever find sometimes going out with friends for beer can turn into being more about the beer than about the friends?</h5> 
					<h5 class="specialFontSize">If so, how do you deal with that?</h5>
					</br>
					</br>
					<h5 class="specialFontSize">Please use the webcam to share your thoughts. <span id="noWebcam" class="noWebcam six">(<span>Wait! I don't have a webcam...</span>)</span></h5>
				</div>
				<div class="row buttonArea">
					<%= f.hidden_field :step, value: 6 %>
					<%= f.submit id: "step6Button", value: "Take me to Step 7", class: "btn btn-success inputButton2", disabled: "true" %>
				</div>	
			</div>
			<div class="col-sm-1"></div>
		</div>
		<% end %>
	</div>
</div>