<!--Wrap code in form to capture written response if provided-->
<%= form_for @user, url: user_invitation_path, :html => {:method => :post} do |f| %>
	<%= f.hidden_field :invited_for_exploration_id, :value => @exploration.id %>
	<%= f.hidden_field :problem_id, :value => @problems.id %>
<!--Project main area--info-->
<div class="col-sm-8 mainArea">
	<div class="row zeroPadding">
		<div class="col-sm-4"></div>
		<div class="col-sm-4 stepGuide">
			<%= link_to(raw("1"), "#", :class => "step one visited") %>
			<%= link_to(raw("2"), "#", :class => "step two visited") %>
			<%= link_to(raw("3"), "#", :class => "step three visited") %>
			<h6 class="step finished current">F</h6>
		</div>
		<div class="col-sm-4"></div>
	</div>
	<div class="row zeroPadding">
		<div class="row">
			<div class="col-sm-1"></div>
			<div class="col-sm-11 solicitInvite">
				<h4>Thank you for your time and input; we appreciate it!</h4>
				<h4>Could you help us get the word out and share this with others you think would be interested?</h4>
			</div>
		</div>
	<% if @owner == "yes" %>
		<%= f.hidden_field :email_option, :value => "owner" %>
	<% else %>
		<div class="row formSpace"> 
			<div class="col-sm-2"></div>
			<div class="col-sm-8">
				<%- flash.each do |name, msg| -%>
					<%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
				<% end %>
				<%= f.select(:email_option, options_for_select([["I have a friend working on this project", "friend"], 
							["I have a friend of a friend working on this project", "friend-of-friend"], 
							["I don't know anyone working on this project", "none"]]), 
							{:prompt => 'Choose how you know about this project',  
							:class => 'form-control selectBox'},
							:requierd => true)  %>									
			</div>
			<div class="col-sm-2"></div>
		</div>
	<% end %>
		<div class="row formSpace"> 
			<div class="col-sm-2"></div>
			<div class="col-sm-8">
				<% if @owner == "yes" %>
					<%- flash.each do |name, msg| -%>
						<%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
					<% end %>
				<% end %>
				<%= f.text_field :first_name, required: true, :class => "form-control", autofocus: true, placeholder: "First name" %>
			</div>
			<div class="col-sm-2"></div>
		</div>
		<div class="row formSpace"> 
			<div class="col-sm-2"></div>
			<div class="col-sm-8">
		 		<%= f.email_field :email, :class => "form-control", required: true, placeholder: "Email" %>
			</div>
			<div class="col-sm-2"></div>
		</div>
	</div>
</div>
<!--Project side bar-->
<div class="col-sm-4 sideArea" id="altSideArea">
	<div class="row sideBarArea">
		<% if @exploration.exploration_users.count(:completed) == 1 %>
			<h4 class="text-space-bottom"><%= @exploration.exploration_users.count(:completed) %> person provided input</h4>
		<% else %>
			<h4 class="text-space-bottom"><%= @exploration.exploration_users.count(:completed) %> people provided input</h4>
		<% end %>
		<h5 class="gray text-space-top stated-goal">out of a goal of <%= @exploration.completions_required %></h5>
		<% completed = @exploration.exploration_users.count(:completed) %>
		<% percentage = ((completed.to_f/@exploration.completions_required.to_f)*100).round %>
		<div class="status-bar-project-page">
			<div class="status-bar-progress" style="width:<%= percentage %>%"></div>
		</div>
		<div class="row">
			<div class="col-xs-6 percent-complete">
				<h5 class="gray text-space-top"><%= percentage %>% complete</h5>
			</div>
			<div class="col-xs-6 days-left">
				<% days_left = ((@exploration.end_date - @time)/1.day).round %>
				<h5 class="gray text-space-top"><i class="fa fa-clock-o"></i> <%= days_left %> days left</h5>
			</div>
		</div>
		<div class="row phase-time">
			<h5 class="gray">This phase of the project started on <%= (@exploration.start_date).strftime("%B %e") %> and will close on 
				<%= (@exploration.end_date).strftime("%B %e, %Y") %> <span>(11:59PM PT)</span>.</h5>
		</div>
	</div>
	<div class="row responseArea show">
		<%= f.submit id: "inviteButton", value: "Send the invitation", class: "btn btn-success responseButton toFinish" %>
		<h6 class="liStatement">Don't worry we won't spam your friend. We'll just send this invite, as you wish...</h6>
	</div>
</div>
<% end %>