<%= render 'layouts/header' %> 
<div class="container">
		<div class="row">
			<div class="page-header">
			  <h2>Step 4 of 8: 1st topic thoughts</h2>
			</div>
		</div>
		<%= form_for @written, url: pstep5_path(@exploration_user_id.id), method: :get  do |f| %>
		<div class="row bottomRow">
			<div class="col-xs-0 col-sm-0 col-md-1"></div>
			<div class="col-xs-12 col-sm-6 col-md-5">
				<div class="row inputArea">
					<camera id='problemFour' class="camera show img-responsive" data-app-id='a-ea644890-87df-0132-10ec-22000a8c0328' data-sources='record,upload' data-maxlength='300' data-poll-for-processed='true'></camera>
					<%= f.text_area :written_input, id: "textInputArea4", :class => "form-control textInputArea hidden", placeholder: "Type input here" %>
				</div>
				<div class="row visible-xs visible-lg">
					<div class="col-xs-7 extraInfoSpacing">
						<h6 class="emailContact">Questions? Email me: ctiv@hotmail.com</h6>
					</div>
					<div class="col-xs-5 altInput extraInfoSpacing">
						<%= link_to(raw("Provide written response instead."), "#", :class => "noWebcam four", :id => "noWebcam") %>
					</div>
				</div>
				<div class="row visible-sm visible-md">
					<div class="col-xs-7 extraInfoSpacing two">
						<h6 class="emailContact">Questions? Email me: ctiv@hotmail.com</h6>
					</div>
					<div class="col-xs-5 altInput extraInfoSpacing two">
						<%= link_to(raw("Provide written response instead."), "#", :class => "noWebcam four", :id => "noWebcam") %>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-5">
				<div class="row textAreaToXS hidden-xs"> <!--Using class tags to change height of div based on device viewing-->
					<h5 class="specialFontSize">Please use the webcam to share how you <%= @problems.first_topic %>.</h5>
					<h5 class="specialFontSize"> If it helps, below are some questions to consider, but don't feel restricted 
						by these if you have other thoughts in mind...</h5>
					<ul>
						<li class="specialFontSize"><%= @problems.first_topic_q1 %></li>
						<li class="specialFontSize"><%= @problems.first_topic_q2 %></li>
						<li class="specialFontSize"><%= @problems.first_topic_q3 %></li>
					</ul>
				</div>
				<div class="row textAreaXS visible-xs"> <!--Using class tags to change height of div based on device viewing-->
					<h5 class="specialFontSize">Please use the webcam to share how you <%= @problems.first_topic %>.</h5>
					<h5 class="specialFontSize"> If it helps, below are some questions to consider, but don't feel restricted 
						by these if you have other thoughts in mind...</h5>
					<ul>
						<li class="specialFontSize"><%= @problems.first_topic_q1 %></li>
						<li class="specialFontSize"><%= @problems.first_topic_q2 %></li>
						<li class="specialFontSize"><%= @problems.first_topic_q3 %></li>
					</ul>
				</div>
				<div class="row buttonArea">
					<%= f.submit id: "step4Button", value: "Take me to Step 5", class: "btn btn-success inputButton2", disabled: "true" %>
				</div>	
			</div>
			<div class="col-xs-0 col-sm-0 col-md-1"></div>
		</div>
		<% end %>
</div>
<%= render 'layouts/footer' %>