
		<div class="row">
			<div class="page-header">
			  <h2>Step 2 of 8: Your initial thoughts</h2>
			</div>
		</div>
		<form method="post" action="/surveys/craft-beer-input" accept-charset="UTF-8">
		<div class="row bottomRow">
			<div class="col-xs-0 col-sm-0 col-md-1"></div>
			<div class="col-xs-12 col-sm-6 col-md-5">
				<div class="row inputArea">
					<camera class="camera show img-responsive" id='problemTwo' data-app-id='a-ea644890-87df-0132-10ec-22000a8c0328' data-sources='record,upload' data-maxlength='300' data-poll-for-processed='true'></camera>
					<textarea name="textInputArea" id="textInputArea2" class="textInputArea hidden" placeholder="Type input here"></textarea>
				</div>
				<div class="row visible-xs visible-lg">
					<div class="col-xs-7 extraInfoSpacing">
						<h6 class="emailContact">Questions? Email me: ctiv@hotmail.com</h6>
					</div>
					<div class="col-xs-5 altInput extraInfoSpacing">
						<%= link_to(raw("Provide written response instead."), "#", :class => "noWebcam two", :id => "noWebcam") %>
					</div>
				</div>
				<div class="row visible-sm visible-md">
					<div class="col-xs-7 extraInfoSpacing two">
						<h6 class="emailContact">Questions? Email me: ctiv@hotmail.com</h6>
					</div>
					<div class="col-xs-5 altInput extraInfoSpacing two">
						<%= link_to(raw("Provide written response instead."), "#", :class => "noWebcam two", :id => "noWebcam") %>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-5">
				<div class="row textAreaToXS hidden-xs"> <!--Using class tags to change height of div based on device viewing-->
					<h5 class="specialFontSize">Here's what we think:</h5>
					<ul>
						<li class="specialFontSize"><%= @problems.problem_one %></li>
						<li class="specialFontSize"><%= @problems.problem_two %></li>
						<li class="specialFontSize"><%= @problems.problem_three %></li>
					</ul>
					<h5 class="specialFontSize">Does any of this resonate with you? Please use the webcam to share your general thoughts on the topic.</h5>
				</div>
				<div class="row textAreaXS visible-xs"> <!--Using class tags to change height of div based on device viewing-->
					<h5 class="specialFontSize">Here's what we think:</h5>
					<ul>
						<li class="specialFontSize"><%= @problems.problem_one %></li>
						<li class="specialFontSize"><%= @problems.problem_two %></li>
						<li class="specialFontSize"><%= @problems.problem_three %></li>
					</ul>
					<h5 class="specialFontSize">Does any of this resonate with you? Please use the webcam to share your general thoughts on the topic.</h5>
				</div>
				<div class="row buttonArea">
					<input type="submit" id="step2Button" disabled="true" value="Take me to Step 3" name="commit" default="default" class="btn btn-success inputButton">
					<input type="hidden" name="exploration_user_id" value=<%= @exploration_user_id.id %> >
					<input type="hidden" name="status" value="second" >
				</div>	
			</div>
			<div class="col-xs-0 col-sm-0 col-md-1"></div>
		</div>
		</form>
