<%= render 'layouts/header' %> 
<div class="container">
		<div class="row">
			<div class="page-header">
			  <h2>Step 7 of 8: Any additional thoughts?</h2>
			</div>
		</div>
		<form method="post" action="/surveys/craft-beer-demographics" accept-charset="UTF-8">
		<div class="row bottomRow">
			<div class="col-xs-0 col-sm-0 col-md-1"></div>
			<div class="col-xs-12 col-sm-6 col-md-5">
				<div class="row inputArea">
					<camera id='problemSeven' class="camera show img-responsive" data-app-id='a-ea644890-87df-0132-10ec-22000a8c0328' data-sources='record,upload' data-maxlength='300' data-poll-for-processed='true'></camera>
					<textarea name="textInputArea" id="textInputArea7" class="textInputArea hidden" placeholder="Type input here"></textarea>
				</div>
				<div class="row visible-xs visible-lg">
					<div class="col-xs-7 extraInfoSpacing">
						<h6 class="emailContact">Questions? Email me: ctiv@hotmail.com</h6>
					</div>
					<div class="col-xs-5 altInput extraInfoSpacing">
						<%= link_to(raw("Provide written response instead."), "#", :class => "noWebcam seven", :id => "noWebcam") %>
					</div>
				</div>
				<div class="row visible-sm visible-md">
					<div class="col-xs-7 extraInfoSpacing two">
						<h6 class="emailContact">Questions? Email me: ctiv@hotmail.com</h6>
					</div>
					<div class="col-xs-5 altInput extraInfoSpacing two">
						<%= link_to(raw("Provide written response instead."), "#", :class => "noWebcam seven", :id => "noWebcam") %>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-5">
				<div class="row textAreaToXS hidden-xs"> <!--Using class tags to change height of div based on device viewing-->
					<h5 class="specialFontSize">Are there any other annoyances related to <%= @exploration.short_description %> 
						that we haven't touched on yet?</h5>
					<h5 class="specialFontSize">If so, how annoying are they?  And how do you currently deal with them?</h5>
				</div>
				<div class="row textAreaXS visible-xs"> <!--Using class tags to change height of div based on device viewing-->
					<h5 class="specialFontSize">Are there any other annoyances related to <%= @exploration.short_description %> 
						that we haven't touched on yet?</h5>
					<h5 class="specialFontSize">If so, how annoying are they?  And how do you currently deal with them?</h5>
				</div>
				<div class="row buttonArea">
					<input type="submit" value="Take me to the last step" name="commit" default="default" class="btn btn-success inputButton2">
					<input type="hidden" name="exploration_user_id" value=<%= @exploration_user_id.id %> >
					<input type="hidden" name="status" value= "seventh" >
				</div>	
			</div>
			<div class="col-xs-0 col-sm-0 col-md-1"></div>
		</div>
		</form>
</div>
<%= render 'layouts/footer' %>