<%= render 'layouts/header' %> 
<div class="container pageContainer">
	<!--Header row-->
	<%= render 'layouts/problem_projectHeader' %> 	
	<!--Project info-->
	<div class="row topProjectRow">
		<%= form_for @written, url: project_update_feedback_path(@exploration.id, @problems.id)  do |f| %>
		<!--Project main area--info-->
		<div class="col-sm-8 mainArea">
			<div class="row videoArea" id="initialVideo">
				<video id='projectIntroVideo' class="img-responsive" data-uuid= <%= @problems.intro_video_id %> ></video>
			</div>
		</div>
		<!--Project side bar-->
		<div class="col-sm-4 sideArea show" id="firstSideArea">
			<%= render 'layouts/problem_sideBar_stats' %>
			<div class="row responseAreaInitial show">
				<%= f.submit id: "initialButton", value: "Share your thoughts", class: "btn btn-success responseButton toStep1" %>
				<h6 class="liStatement">Takes ~<%= @problems.time_to_take %> minutes to complete.</h6>
			</div>
		</div>
		<% end %>
	</div>
	<div class="row secondProjectRow">
		<div class="col-sm-8 mainArea">
			<div class="row">
				<h4 class="backgroundHeader">Our project background</h4>
				<h5 class="project-background"><%=raw @problems.project_background %></h5>
			</div>
		</div>		
	</div>
</div>
<%= render 'layouts/footer' %>