<% @friend_invitations.each do |b| %>
	<div class="row explorationOverview">
			<div class="col-xs-12 col-sm-4 colNoMargin">
				<div class="packageLeft img-responsive visible-xs" alt="Responsive image" style="background-image: url(<%= b.exploration.picture_xs %>)"></div>
				<div class="packageLeft img-responsive visible-sm visible-md" alt="Responsive image" style="background-image: url(<%= b.exploration.picture_sm %>)"></div>
				<div class="packageLeft img-responsive visible-lg" alt="Responsive image" style="background-image: url(<%= b.exploration.picture_lg %>)"></div>
			</div>
			<div class="col-xs-12 col-sm-8">
					<div class="row explorationTitle">
						<div class="col-sm-12">
							<h3><%= b.exploration.title %></h3>
						</div>
					</div>
					<div class="row explorationExplorer">
						<% @explorer_lead = Explorer.where(exploration_id: b.exploration.id, lead_explorer: "yes").all.to_a[0] %>
						<div class="col-xs-4 col-sm-3">

							<h6 class="gray"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> <%= @explorer_lead.user.first_name %> <%= @explorer_lead.last_name %></h6>
						</div>
						<div class="col-xs-4 col-sm-3">
							<h6 class="gray"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> <%= @explorer_lead.city %>, <%= @explorer_lead.state %></h6>

						</div>

						<div class="col-xs-4 col-sm-3">
							<% if b.exploration.exploration_phase == "Problem" %>
						        <h6 class="gray"><i class="fa fa-exclamation-triangle"></i> <%= b.exploration.exploration_category %></h6>
						    <% end %>
							<% if b.exploration.exploration_phase == "Solution" %>
						        <h6 class="gray"><i class="fa fa-lightbulb-o"></i> <%= b.exploration.exploration_category %></h6>
						    <% end %>
						</div>
						<div class="col-xs-0 col-sm-3"></div>
					</div>
					<div class="row explorationDescription">
						<h5 class="gray"><%= b.exploration.description %></h5>
					</div>
					<div class="row explorationStats">
						<div class="col-xs-4 col-sm-2">
							<h3><%= b.exploration.completions_required %></h3>
							<h6 class="gray">desired</h6>
						</div>
						<div class="col-xs-4 col-sm-2">
							<% completed = b.exploration.exploration_users.count(:completed) %>
							<h3><%= completed %></h3>
							<h6 class="gray">completed</h6>
						</div>
						<div class="col-xs-4 col-sm-2">
							<% days_left = ((b.exploration.end_date - @time)/1.day).round %>
							<h3><%= days_left %></h3>
							<h6 class="gray">days to go</h6>                                                                         
						</div>
						<div class="col-xs-12 col-sm-5">
							<%= form_for @start, url: {action: "update"} do |h| %>
								<%= h.hidden_field :exploration_user_id, value: b.id %>
								<%= h.submit id: "originalButton", value: "I'll share!", class: "btn btn-success inputButton" %>
							<% end %>
						</div>
						<div class="col-sm-1"></div>
					</div>
					<div class="row timeInvolved">
						<div class="col-xs-12 col-sm-6"></div>
						<div class="col-xs-12 col-sm-5">
							<% @time_to_take = Problem.where(exploration_id: b.exploration.id).all.to_a[0] %>
							<h6 class="timeLeft">(Takes ~<%= @time_to_take.time_to_take %> minutes to complete)</h6>
						</div>
						<div class="col-sm-1"></div>
					</div>
			</div>
		</div> 
<% end %>