<% @unexplored_explorations.each do |b| %>
	<div class="col-xs-12 col-sm-4">
		<div class="row explorationOverview">
				<div class="packageLeft img-responsive visible-xs" alt="Responsive image" style="background-image: url(<%= b.picture_xs %>)"></div>
				<div class="packageLeft img-responsive visible-sm visible-md" alt="Responsive image" style="background-image: url(<%= b.picture_sm %>)"></div>
				<div class="packageLeft img-responsive visible-lg" alt="Responsive image" style="background-image: url(<%= b.picture_lg %>)"></div>
				<div class="col-xs-12 project-card-content">
					<h4 class="text-space-bottom"><%= b.title %></h5>
					<h6 class="gray text-space-top">  
					<% if b.exploration_phase == "Problem" %>
						 <i class="fa fa-exclamation-triangle"></i> <%= b.exploration_category %>
					<% elsif b.exploration_phase == "Solution" %>
						 <i class="fa fa-lightbulb-o"></i> <%= b.exploration_category %>
					<% end %>
					</h6>
					<h5 class="gray explorationDescription"><%= b.description %></h5>
				</div>
				<div class="col-xs-12 project-card-footer">
					<h4 class="text-space-bottom"><%= b.completions_required %> participants</h4>
					<% completed = b.exploration_users.count(:completed) %>
					<% percentage = ((completed.to_f/b.completions_required.to_f)*100).round %>
					<div class="status-bar">
						<div class="status-bar-progress" style="width:<%= percentage %>%"></div>
					</div>
					<div class="row">
						<div class="col-xs-6">
							<h6 class="text-space-top"><%= percentage %>%</h6>
						</div>
						<div class="col-xs-6 days-left">
							<% days_left = ((b.end_date - @time)/1.day).round %>
							<h6 class="text-space-top"><%= days_left %> days left</h6>
						</div>
					</div>
				</div>
			</div>
		</div>
<% end %>
