<head>
	<script src='//cameratag.com/api/v4/js/cameratag.js' type='text/javascript'></script>
</head>
<body>
	<h4>Choose how you'd like to respond:</h4>
	<div class="btn-group">
		<%= button_to "Video", video_choice_path, class: 'btn btn-primary', remote: true %>	
		<%= button_to "Audio", audio_choice_path, class: 'btn btn-primary', remote: true %>
		<%= button_to "Text", text_choice_path, remote: true, class: "btn btn-primary" %>
	</div>
	<div id="responseArea">
		<div id="videoResponse" class="hidden">
			<%= render 'video' %>
		</div>
		<div id="audioResponse" class="hidden">
			<%= render 'audio' %>
		</div>
		<div id="textResponse" class="hidden">
			<%= render 'text' %>
		</div>
	</div>
</body>
