<%= render 'layouts/header' %> 
<div class="container">
	<div class="row topRow"> 
		<div class="col-xs-0 col-sm-3 col-md-4"></div>
		<div class="col-xs-12 col-sm-6 col-md-4 box">
			<div class="row">
				<div class="col-sm-12">
						<h2 class="formSpace">Accept invitation to bonu</h2>
					    <%= form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => { :method => :put } do |f| %>
  							<%= devise_error_messages! %>
							<%= f.hidden_field :invitation_token %>
							<%= f.hidden_field :invited_for_exploration_id %>
							<div class="row formSpace"> 
								<div class="col-sm-1"></div>
								<div class="col-sm-10">
						      		<%= f.text_field :first_name, required: true, :class => "form-control", placeholder: "Confirm your first name" %>
								</div>
								<div class="col-sm-1"></div>
							</div>
							<div class="row formSpace"> 
								<div class="col-sm-1"></div>
								<div class="col-sm-10">
							 		 <%= f.password_field :password, :class => "form-control", required: true, placeholder: "Set password", hint: ("#{@minimum_password_length} characters minimum" if @validatable) %>
								</div>
								<div class="col-sm-1"></div>
							</div>
							<div class="row formSpace"> 
								<div class="col-sm-1"></div>
								<div class="col-sm-10">
							 		<%= f.password_field :password_confirmation, :class => "form-control", required: true, placeholder: "Confirm password" %>
								</div>
								<div class="col-sm-1"></div>
							</div>
							<div class="row formSpace2"> 
								<div class="col-sm-1"></div>
								<div class="col-sm-10">
							 		<%= f.submit "Sign up", class: "btn btn-default btn-success longButton" %> 
								</div>
								<div class="col-sm-1"></div>
							</div>
					    <% end %> 
					  		<div class="row formSpace">
								<div class="col-sm-2"></div>
								<div class="col-sm-8">
									<h6 class="liStatement">By signing up you agree to our Terms of Use and Privacy Policy</h6>
								</div>
								<div class="col-sm-2"></div>
							</div>
					  </div> 
					</div>
					<div class="row signupBox">
						<div class="col-sm-1"></div>
						<div class="col-sm-10 signUpRedirect">
							<h5>Have an account? <%= render "devise/shared/login" %></h5> 
						</div>
						<div class="col-sm-1"></div>
					</div>
			</div>
		<div class="col-xs-0 col-sm-3 col-md-4"></div>
	</div>
</div>
<%= render 'layouts/footer' %>
