<%= render 'layouts/header' %> 
<div class="container">
	<div class="row topRow"> 
		<div class="col-sm-4"></div>
		<div class="col-sm-4 box">
			<div class="row">
				<div class="col-sm-12">
						<h2 class="formSpace">Share the love. Invite others!</h2>
					    <%= form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => {:method => :post} do |f| %>
  							<%= devise_error_messages! %>
							<%= f.hidden_field :invited_for_exploration_id %>
							<% resource.class.invite_key_fields.each do |field| -%>
								<div class="row formSpace"> 
									<div class="col-sm-1"></div>
									<div class="col-sm-10">
							      		<%= f.text_field :first_name, required: true, :class => "form-control", autofocus: true, placeholder: "First name" %>
									</div>
									<div class="col-sm-1"></div>
								</div>
								<div class="row formSpace"> 
									<div class="col-sm-1"></div>
									<div class="col-sm-10">
								 		<%= f.email_field :email, :class => "form-control", required: true, placeholder: "Email" %>
									</div>
									<div class="col-sm-1"></div>
								</div>
							<% end -%>
							
							<div class="row formSpace2"> 
								<div class="col-sm-1"></div>
								<div class="col-sm-10">
							 		<%= f.submit "Send the invitation", class: "btn btn-default btn-success longButton" %> 
								</div>
								<div class="col-sm-1"></div>
							</div>
					    <% end %> 
					  		<div class="row formSpace">
								<div class="col-sm-2"></div>
								<div class="col-sm-8">
									<h6 class="liStatement">Don't worry we won't spam your friends. We'll just send this invite as you ask...</h6>
								</div>
								<div class="col-sm-2"></div>
							</div>
					</div> 
			</div>		
		</div>
		<div class="col-sm-4"></div>
	</div>
</div>
<%= render 'layouts/alt_footer' %>