# encoding: UTF-8
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <%= surveyor_includes %>
</head>
<body>
<%= render 'layouts/header' %> 
<div class="container">
	<div class="row">
		<div class="page-header">
			<h2><%= @step %></h2>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-0 col-md-1"></div>
		<div class="col-xs-12 col-md-10">
			<%= yield %>
	  	</div>
	  	<div class="col-xs-0 col-md-1"></div>
	</div>
</div>
<%= render 'layouts/footer' %>
</body>
</html>
