<!DOCTYPE html>
<html>
<head>
  <title>ji</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
	
	<link rel="stylesheet" href="//assets.ziggeo.com/css/ziggeo-betajs-player.min.css" />
	<script src="//assets.ziggeo.com/js/ziggeo-json2-betajs-player.min.js"></script>
	<script>ZiggeoApi.token = "a43572f97516b35e30e36c1ccff7a9fc";</script>
</head>
<body>

	<%= yield %>
	<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

</body>
</html>
