<!DOCTYPE html>
<html>
<head>
  <title>ji</title>
	<%= include_gon %>
  	<%= stylesheet_link_tag    "application", :media => "all" %>
  	<%= javascript_include_tag "application" %>
  	<%= csrf_meta_tags %>
	
	<script src='//cameratag.com/api/v4/js/cameratag.js' type='text/javascript'></script>

<body>
	<%-#  the next line of code is needed to satisfy surveyor_gui requirements, otherwise js freezes/loops -%>
	<div id="surveyor_gui_mount_point" data-surveyor_gui_mount_point="<%= surveyor_gui.surveyforms_path %>"></div>
	<%= yield %>


</body>
</html>
